body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
    color: #ffffff;
}

a:hover,
a:focus,
a:active {
    color: #ffbc9e;
}



.send-btn {
    font: inherit;

    text-align: center;
    color: #ffffff;
    text-decoration: none;


    background-color: rgb(239, 95, 63);
    border: none;
}


.send-btn:hover,
.send-btn:focus {
    color: #fefefe;
    background-color: #f26843;
}

.send-btn:active {
    color: #fceeec;
    box-shadow: 0px 2px 2px 0 #ac1000;
}


.main-navigation {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}


.site-navigation-list,
.user-main-navigation-list {
    list-style: none;
}

.main-catalog-popup-list {
    list-style: none;
}

.popup {
  display: none;
}

.modal {
    display: none;
}


/* .site-navigation-item a {
    text-decoration: underline;
}

.catalog-popup-link {
    text-decoration: none;
} */

.main-catalog-popup-item a {
  text-decoration: none;
}

.site-navigation-item {
    padding-top: 16px;
    padding-bottom: 12px;
}

.site-navigation-item a {
    padding: 7px 14px;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
    border: 0;
    border-radius: 20px;
    color: #333;
    background-color: #f7f6f3;
}

/* .user-navigation-button {
    background-color: #8996a6;
} */

.navigation-active-button a {
  background-color: #d07058;
  border-radius: 30px;
}

.user-main-navigation-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.breadcrumbs {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

.catalog-base .page-title {
    font-size: 35px;
    line-height: 41px;
}

.breadcrumbs a:not([href]) {
    text-decoration: none;
}

.advantage {
    color: #323232;
    min-height: 256px;
    margin: 0;
    padding: 24px 20px;
    border-radius: 15px;
    color: #323232;

    background-color: rgb(238, 227, 201);
    background-image: url("../img/background/advantage-background.png");
    background-position: 0 0;
    background-repeat: repeat;
}


.advantage strong {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantage-list {
    list-style: none;
}

.advantage-item p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.blog-info {
    color: #000000;
    font-size: 16px;
    line-height: 22px;

    background-color: rgb(255, 255, 255);
    background-image: url("../img/background/banner-1.jpg");
    background-position: 17% 39%;
    background-repeat: no-repeat;

    border-radius: 15px;
    padding-bottom: 22px;
}

.blog-info-header {
    font-weight: 500;
}

.blog-info a {
    color: #000000;
    text-decoration: underline;
    font-size: 24px;
    line-height: 30px;
}

.subscribe-sect {
    background-image: url("../img/background/banner-2.svg");
    padding: 6px;
    background-repeat: no-repeat;
}

.subscribe-back-border {
    background-color: #f8f7f4;

    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;


    min-height: 211px;
}

.main-footer {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.for-suppliers {
    font-weight: 700
}

.main-footer ul {
    list-style: none;
}

.catalog-pagination-list {
    list-style: none;
}

.catalog-pagination-list a {
    text-decoration: none;
}

/*-------------Сетки-------------*/

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.site-navigation-list {
    margin: 0;
    padding: 0;
}

.user-main-navigation-list {
    margin: 0;
    padding: 0;
}

.main-nav-wrapper {
    display: flex;
    flex-direction: row;
}

.main-header {
    margin: 9px 27px 0;
    width: 1150px;
    margin: 9px auto 28px;
}

.main-header-logo {
    margin-right: 27px;
}

.site-navigation-list {
    display: flex;
    align-self: center;
    padding-bottom: 9px;
}

.site-navigation-item {
    margin-right: 25px;
}

.user-main-navigation-list {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 9px;
    align-items: center;
}



/* .user-main-navigation-item {
    margin-left: 10px;
} */

.search-button, .login-button, .basket-button{
    padding: 8px 35px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: rgba(255,255,255,.2);
}

.search-button svg {
    position: relative;
    top: 2px;
}

.search-button {
    padding: 7px;
    border-radius: 50%;
}

.user-main-navigation-item::nth-child(2) {
    position: relative;
    padding-top: 16px;
    padding-bottom: 12px;
}

.login-button {
    padding-right: 16px;
    position: relative;
    padding-left: 43px;
}

.login-button::before {
    background-image: url(../img/header-img/login-pic.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 21px;
    height: 21px;
}

.basket-button {
    position: relative;
    padding-right: 33px;
}
.basket-button::before {
    background-image: url(../img/header-img/basket.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 21px;
    height: 21px;
}

.first-banners-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 12px 0 0 0;
}

.banner {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

    display: flex;
    flex-direction: column;

    width: 560px;
    min-height: 200px;
    border-radius: 14px;
}

.rasp-banner {
    background-color: #76223c;
    background-image: url("../img/background/main-banner-rasp.jpg");
}

.rasp-banner .main-banner-prod {
    margin: 0;
    padding-top: 15px;
    padding-right:25px;
    padding-left: 18px;
}

.rasp-banner .banner-text-content {
    margin: 0;
    padding-top: 15px;
    padding-right:25px;
    padding-left: 18px;
}

.send-btn {
  display: inline-block;
  color: #fff;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  border-radius: 30px;
}

.banner-btn-jam, .banner-btn-choco {
    align-self: flex-end;
    margin-right: 22px;
    margin-top: 45px;
    padding: 12px 23px;
    border-radius: 30px;
}

.choco-banner {
  background-color: #785748;
  background-image: url("../img/background/mainbanner-choko.jpg");
}

.choco-banner .main-banner-prod {
  padding: 15px 25px 0 18px;
  margin: 0;
}

.choco-banner .banner-text-content {
  padding: 15px 25px 0 18px;
  margin: 0;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.breadcrumbs li {
    margin-right: 10px;
}

.blog-info {
    padding-top: 26px;
    padding-left: 20px;
    margin-right: 25px;
}

.blog-info p {
  width: 51%;
}


.banners-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-banner {
    width: 560px;
    min-height: 211px;
}

.subscribe-back-border p {
    margin: 0;
    padding: 0
}

.subscribe-back-border p {
    color: #5a5a5a;
    font-weight: 500;
    padding: 30px 19px;
}

.subscribe-form {
  margin: 0 0 0 21px;
  padding: 7px 0 0 0;
}

.subscribe-form input[type=email] {
    color: #323232;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px 13px;
    width: 339px;
}

.subscribe-send-btn {
    font-size: 18px;
    line-height: 24px;
    padding: 9px 18px;
    margin-left: 7px;
    margin-top: -1px;
}

.base-container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.advantage {
    padding-left: 20px;
    margin: 0 0 40px;
}

.adavantage-header {
    margin: 0 0 10px 0;
}

.advantage-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    position: relative;
    width: 50%;
    margin-bottom: 2px;
}

.advantage-item p {
    margin: 20px 0 0;
    padding-left: 56px;
    padding-right: 10px;
}

.advantage-item::before {
    left: 0;
    content: "";
    top: 8px;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: 0 0;

    disolay: block;
    position: absolute;
}

.advantage-item:nth-child(1)::before {
  background-image: url(../img/advantage-block/ice-cream-advantage.svg);
}

.advantage-item:nth-child(2)::before {
  background-image: url(../img/advantage-block/cow-advantage.svg);
}

.advantage-item:nth-child(3)::before {
  background-image: url(../img/advantage-block/leaf-advantage.svg);
}

.advantage-item:nth-child(4)::before {
  background-image: url(../img/advantage-block/thermometer-advantage.svg);
}

.advantage-item p {
    margin: 20px 0 0;
    padding: 0 10px 0 56px;
}

.main-footer {
    width: 1150px;
    margin: 35px auto 30px;
}

.footer-social-media-list {
    margin: 0;
    padding: 0;
    width: 380px;
    margin-left: 26px;
    margin-right: 20px;
    display: flex;
}

.social-button {
    display: block;
    height: 38px;
    width: 38px;
    border: 3px solid rgba(255,255,255,.5);
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    border: 3px solid rgba(255,255,255,.7)
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-social-media-item {
    margin-right: 16px;
}

.footer-contact-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 335px;
    align-items: stretch;
}

.for-suppliers {
  position: relative;
}

.for-suppliers::before {
  content: "";
  position: absolute;
  left: -19px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-image: url(../img/footer-hurt.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  position: absolute;
}
.footer-contact-item {
    margin-right: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    min-width: 110px;
}

.footer-copyright {
    margin-left: auto;
}

.footer-copyright-logo img {
  margin-left: -10px;
}

.footer-wrapper-container {
    display: flex;
    flex-direction: row;
}


.catalog {
    width: 1150px;
}

.catalog-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalog-item {
    width: 270px;
    margin-bottom: 40px;
    margin-right: 15px;
}

.catalog-item img {
    border-radius: 50%;
}

.catalog-item {
    position: relative;
    width: 267px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.catalog-item-title {
    margin: 0;
    min-height: 45px;
    padding-left: 6px;
    padding-right: 7px;
    text-align: center;
    z-index: 9;
}

.catalog-item-price {
    font-size: 45px;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(49,50,53,.5);

    position: absolute;
    margin: 0;
    z-index: 9;
    bottom: 80px;
    left: -17px;
}

.catalog-pagination {
    width: 1150px;
}

.catalog-pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.catalog-pagination-item {
    margin-right: 25px;
}

.site-navigation-item {
    margin-right: 25px;
}

.footer-copyright p {
    margin-top: 0;
}

.footer-copyright a {
    margin: 0;
}

.user-navigation-popup {
    position: relative;
}

.main-catalog-popup-list {
    font-size: 14px;
    line-height: 16px;

    position: absolute;
    top: 45px;
    left: -6px;
    z-index: 1;
    display: none;
    min-width: 143px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    background-color: #f8f7f4;
    list-style: none;
    display: block;
}

.main-catalog-popup-item a {
    display: block;
    margin: 0;
    padding: 10px 0 12px 19px;
    font-weight: 700;
    color: black;
}

.catalog-popup-link-header {
    border-bottom: 1px solid #000000;
}

.catalog-popup-link-header p {
    margin: 0;
    border-bottom: 1px solid #d1d0ce;
    padding: 10px 0 12px 19px;
    font-weight: 700;
    color: black;
}

.main-catalog-popup-item a:hover,
.main-catalog-popup-item a:focus {
    background-color: rgb(238, 219, 213);
    border-radius: 5px;
}

.user-navigation-popup {
    position: relative;
}

.search-popup {
    position: absolute;
    display: block;
    top: 37px;
    right: -3px;

    padding: 20px 15px;

    border-radius: 6px;
    background-color: #f7f8f4;
}

.search-popup input {
    color: #323232;

    width: 310px;
    padding: 8px;

    border: 1px solid #d3d3d3;
    border-radius: 5px;

    background-color: #ffffff;
}


.popup-login {
    color: #323232;

    position: absolute;
    display: block;
    right: -3px;
    top: 34px;

    z-index: 2;
    padding: 19px;

    border-radius: 6px;

    background-color: #f7f8f4;
}

.popup-login input {
  width: 230px;
  padding: 8px;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.popup-login a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;

    display: block;
}

.login-send-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  padding: 10px 23px;
  border-radius: 20px;
}

.login-password-info {
  display: flex;
  justify-content: space-between;
}

.password-links {
  margin: 0;
}

.appointment-modal {
    color: #000000;

    display: block;
    position: fixed;
    top: 350px;
    left: 819px;
    width: 468px;

    padding: 20px 25px;

    border-radius: 16px;
    background-color: #f8f7f4;
}

.appointment-modal h1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
}

.appointment-form {
    display: flex;
    flex-direction: column;
}

.modal input {
    padding: 9px;
    font: inherit;
    color: #323232;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 265px;
}

.modal textarea {
    padding: 9px;
    font: inherit;
    color: #323232;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    resize: none;
    width: 418px;
    margin: 0 0 25px 0;
}

.appointment-send-btn {
  align-self: flex-end;
  padding: 10px 25px;
}

.appointment-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 20px;
    font-size: 0;
    background-color: transparent;
    border: 0;
}

.basket-catalog-popup {
    color: #323232;
    font-size: 13px;
    line-height: 16px;

    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 29px;
    right: 0;

    width: 505px;
    border-radius: 5px;
    background-color: #f8f7f4;
}

.user-catalog-navigation-popup {
    position: relative;
}

.basket-catalog-list button {
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;

    background-color: transparent;
    border: 0;
}

td > img {
    border-radius: 50%;
}

.basket-catalog-order-form {
    align-self: flex-end;
}

.basket-catalog-list {
    border-bottom: 1px solid #000000;
}

.basket-order-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    align-self: flex-end;
    padding: 10px 15px;

    margin: 0 15px 10px 0;
}

.basket-catalog-order-total-price {
    font-size: 15px;
    line-height: 18px;
    color: #323232;
    font-weight: 700;
    text-align: right;

    margin-right: 20px;
}
