body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;

    background-color: #849d8f;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
    color: #ffffff;
}

a:hover,
a:focus,
a:active {
    color: #ffbc9e;
}



.send-btn {
    font: inherit;

    text-align: center;
    color: #ffffff;
    text-decoration: none;


    background-color: rgb(239, 95, 63);
    border: none;
}


.send-btn:hover,
.send-btn:focus {
    color: #fefefe;
    background-color: #f26843;
}

.send-btn:active {
    color: #fceeec;
    box-shadow: 0px 2px 2px 0 #ac1000;
}


.main-navigation {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}


.site-navigation-list,
.user-main-navigation-list {
    list-style: none;
}

.main-catalog-popup-list {
    list-style: none;
}

.popup {
  display: none;
}

.modal {
    display: none;
}


/* .site-navigation-item a {
    text-decoration: underline;
}

.catalog-popup-link {
    text-decoration: none;
} */

.main-catalog-popup-item a {
  text-decoration: none;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus,
.user-main-navigation-list a:hover,
.user-main-navigation-list a:focus {
    background-color: #ffffff;
    color: #333333;
}

.user-navigation-button {
    background-color: #8996a6;
}

.navigation-active-button a {
  background-color: #d07058;
}

.user-main-navigation-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.user-main-navigation-list a:hover {
    color: #000000;

    background-color: #ffffff;
}

.breadcrumbs {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
}

.catalog-base .page-title {
    font-size: 35px;
    line-height: 41px;
}

.breadcrumbs a:not([href]) {
    text-decoration: none;
}

.advantage {
    color: #323232;

    background-color: rgb(238, 227, 201);
    background-image: url("../img/background/advantage-background.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.advantage strong {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.advantage-list {
    list-style: none;
}

.advantage-item p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.blog-info {
    color: #000000;
    font-size: 16px;
    line-height: 22px;

    background-color: rgb(255, 255, 255);
    background-image: url("../img/background/banner-1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.blog-info-header {
    font-weight: 500;
}

.blog-info a {
    color: #000000;
    text-decoration: underline;
    font-size: 24px;
    line-height: 30px;
}

.subscribe-sect {
    background-image: url("../img/background/banner-2.svg");
    padding: 6px;
    background-repeat: no-repeat;
}

.subscribe-back-border {
    background-color: #f8f7f4;

    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;


    min-height: 211px;
}

.main-footer {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.for-suppliers {
    font-weight: 700
}

.main-footer ul {
    list-style: none;
}

.catalog-pagination-list {
    list-style: none;
}

.catalog-pagination-list a {
    text-decoration: none;
}

/*-------------Сетки-------------*/

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.site-navigation-list {
    margin: 0;
    padding: 0;
}

.user-main-navigation-list {
    margin: 0;
    padding: 0;
}

.main-nav-wrapper {
    display: flex;
    flex-direction: row;
}

.main-header {
    margin: 9px 27px 0;
    width: 1150px;
    margin: 9px auto 28px;
}

.main-header-logo {
    margin-right: 27px;
}

.site-navigation-list {
    display: flex;
    align-self: center;
    padding-bottom: 9px;
}

.site-navigation-item {
    margin-right: 25px;
}

.user-main-navigation-list {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-bottom: 9px;
}

.user-main-navigation-item {
    margin-left: 10px;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.breadcrumbs li {
    margin-right: 10px;
}

.blog-info {
    padding-top: 26px;
    padding-left: 20px;
    margin-right: 25px;
}


.banners-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-banner {
    width: 560px;
    min-height: 211px;
}

.subscribe-back-border p {
    margin: 0;
    padding: 0
}

.base-container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.advantage {
    padding-left: 20px;
    margin: 0 0 40px;
}

.adavantage-header {
    margin: 0 0 10px 0;
}

.advantage-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantage-item {
    width: 540px;
    display: flex;
    margin-bottom: 25px;
}

.advantage-item img {
    margin-right: 10px;
}

.main-footer {
    width: 1150px;
    margin: 35px auto 30px;
}

.footer-social-media-list {
    margin: 0;
    padding: 0;
    width: 380px;
    margin-left: 26px;
    margin-right: 20px;
    display: flex;
}

.visually-hidden {
    display: none;
}

.footer-social-media-item {
    margin-right: 16px;
}

.footer-contact-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 335px;
    align-items: stretch;
}

.hurt-for-suppliers {
    padding-right: 7px;
}
.footer-contact-item {
    margin-right: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    min-width: 110px;
}

.footer-copyright {
    margin-left: auto;
}

.footer-wrapper-container {
    display: flex;
    flex-direction: row;
}


.catalog {
    width: 1150px;
}

.catalog-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalog-item {
    width: 270px;
    margin-bottom: 40px;
    margin-right: 15px;
}

.catalog-pagination {
    width: 1150px;
}

.catalog-pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.catalog-pagination-item {
    margin-right: 25px;
}

.site-navigation-item {
    margin-right: 25px;
}

.footer-copyright p {
    margin-top: 0;
}

.footer-copyright a {
    margin: 0;
}
